header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 60px;
    background-color: dodgerblue;
    color: white;
}
header div.header {
    text-align: center;
}
header div.header div.header__image {
    width: 60%;
    height: 60%;
    margin: 10px auto;
}
header div.header div.header__image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
header div.header h1.header__name {
    display: none;
}
header nav {
    margin-top: 30px;
}
header nav ul {
    list-style-type: none;
}
header nav ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 70px;
    padding: 0 10px;
    width: 100%;
    color: white;
    text-decoration: none;
    transition: font-size 100ms ease-in-out, background-color 100ms ease-in-out;
}
header nav ul li a:hover {
    background-color: rgba(0, 191, 255, 0.2);
    font-size: 1.2rem;
}
header nav ul li a span {
    display: block;
}
header nav ul li a span.link {
    margin-left: 10px;
    display: none;
}
@media screen and (min-width: 920px) {
    header {
        width: 250px;
    }
    header div.header h1.header__name {
        display: block;
    }
    header nav ul li a {
        padding-left: 20%;
        justify-content: inherit;
    }
    header nav ul li a span.link {
        display: block;
    }
}
